<?xml version='1.0' encoding='utf-8'?>
<widget
    android-versionCode="1"
    id="com.JavlonNomozov.Encryptor"
    version="1.0.0"
    xmlns="http://www.w23.org/ns/widgets">
    <name>Encryptor</name>
    <description>
        A simple Encryptor app.
    </description>
    <author email="javlonnomozov@mail.ru" href="http://javlon-nomozov.uz">
        Javlon Nomozov
    </author>
    <content src="index.html" />

    <!-- <icon src="www/res/icon.png" />
    <splash src="www/res/splash.png" />
    -->
    <!-- Access Permissions -->
    <access origin="*" />

    <!-- Allow inline scripts -->
    <!-- <allow-navigation href="*" /> -->

    <!-- Whitelist external URLs -->
    <!-- <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" /> -->

    <!-- Preferences -->
    <!-- <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="default" /> -->

    <!-- Customize the theme -->
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="orientation" value="portrait" />
</widget>